
<div class="col-md-5" style="padding-left:50px;">
	<section>
		<form asp-controller="NormativeDocuments" asp-action="Export" method="post">
			<div class="form-group">
				<label>Start date</label>
				<input id="startDatePicker" type="text" />
			</div>
			<div class="form-group">
				<label>End date</label>
				<input id="endDatePicker" type="text" />
			</div>
			<div class="form-group" style="padding-top: 30px;">
				<button class="form-control form__btn" style="min-height: 6vh;" type="submit">Экспорт</button>
			</div>
		</form>
	</section>
</div>

@section Scripts
{
	<script type="text/javascript">
		$(function () {
			jQuery('#startDatePicker').datetimepicker({
				lang: 'ru',
				format: 'd M Y',
				timepicker: false,
				onShow: function (ct) {
					this.setOptions({
						maxDate: jQuery('#endDatePicker').val() ? jQuery('#endDatePicker').val() : false
					})
				}
			});

			jQuery('#endDatePicker').datetimepicker({
				lang: 'ru',
				format: 'd M Y',
				timepicker: false,
				onShow: function (ct) {
					this.setOptions({
						minDate: jQuery('#startDatePicker').val() ? jQuery('#startDatePicker').val() : false
					})
				}
			});
		});
	</script>
}