
<div class="col-md-4">
	<section>
		<form class="form-group" asp-controller="NormativeDocuments" asp-action="Export" method="post">
			<div class="form__input-holder">
				<label>Start date</label>
				<input class="form-control" type="datetime" />
			</div>
			<div class="form__input-holder">
				<label>End date</label>
				<input class="form-control" type="datetime" />
			</div>
			<div class="form__btn-holder">
				<button class="form-control form__btn" type="submit">Экспорт</button>
			</div>
		</form>
	</section>
</div>