
<div class="col-md-5" style="padding-left:50px;">
	<section>
		<form asp-controller="NormativeDocuments" asp-action="Export" method="post">
			<div class="form-group">
				<label>Start date</label>
				<div class="input-group date" id="startDatePicker">
					<input type="text" class="form-control" />
					<span class="input-group-addon">
						<span class="fa fa-calendar"></span>
					</span>
				</div>
			</div>
			<div class="form-group">
				<label>End date</label>
				<div class="input-group date" id="endDatePicker">
					<input type="text" class="form-control" />
					<span class="input-group-addon">
						<span class="fa fa-calendar"></span>
					</span>
				</div>
			</div>
			<div class="form-group" style="padding-top: 30px;">
				<button class="form-control form__btn" style="min-height: 6vh;" type="submit">Экспорт</button>
			</div>
		</form>
	</section>
</div>

@section Scripts
{
	<script type="text/javascript">
		$(function () {
			$('#startDatePicker').datetimepicker({
				icons: {
					time: "fa fa-clock-o",
					date: "fa fa-calendar",
					up: "fa fa-arrow-up",
					down: "fa fa-arrow-down"
				},
				locale: 'ru'
			});
			$('#endDatePicker').datetimepicker({
				icons: {
					time: "fa fa-clock-o",
					date: "fa fa-calendar",
					up: "fa fa-arrow-up",
					down: "fa fa-arrow-down"
				},
				locale: 'ru',
				useCurrent: false
			});

			$('#startDatePicker').on("dp.change", function (e) {
				$('#endDatePicker').data("DateTimePicker").minDate(e.date);
			});
			$('#endDatePicker').on("dp.change", function (e) {
				$('#startDatePicker').data("DateTimePicker").maxDate(e.date);
			});
		});
	</script>
}