@{
		ViewData["Title"] = "Сервисы DocsVision";
}

<div>
	<a class="btn btn-default dashboard-button col-md-2" asp-controller="NormativeDocuments" asp-action="Export">
		<img class="dashboard-button-icon" src="~/images/export_icon.svg" />
		<text class="dashboard-button-text">Экспорт ЛНД</text>
	</a>
</div>